<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://www.google.com/jsapi"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8IJyqe7PKy6yLBGn70oU6aPTpHKuk71c&libraries=geometry"></script>
  </head>

  <body>
    <nav class="m0 col-12 bg-white fixed z2">
      <div class="ml1 left">
        <h1 class="m0">PathFinder</h1>
      </div>
    </nav>
    <p id="signup">Sign Up</p>
    <div class="signup">
      <form class="" action="/signup" method="post">
        <input type="text" name="firstName" placeholder="First Name">
        <input type="text" name="lastName" placeholder="Last Name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <button type="submit" name="create">Submit</button>
      </form>
    </div>

    <p id="login">Log In</p>
    <div class="login">
      <form class="" action="/login" method="post">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <button type="submit" name="create">Log In</button>
      </form>
    </div>
    <div class="container">
      <div class="row no-gutters">
        <% trails.forEach(trail => { %>
          <div class="col-md-5 boxy text-center border bg-soft-white mx-auto">
            <a href="/trails/<%= trail.id %>" class=""><h4><%= trail.name %></h4></a>
            <div class="container">
              <div class="row no-gutters">
                <div class="col-md-6 text-left">
                  <p>Min Elevation: <%= trail.minElevation %></p>
                  <p>Max Elevation: <%= trail.maxElevation %></p>
                </div>
                <div class="col-md-6 text-right">
                  <p>Length: <%= trail.length %></p>
                  <p>Total Elevation Gain: <%= trail.maxElevation - trail.minElevation %></p>
                </div>
              </div>
            </div>
            <p>Average Pitch: <%= (Math.atan((trail.maxElevation - trail.minElevation)/(trail.length*5280)) * 180 / Math.PI).toFixed(2)%></p>
          </div>
        <% }) %>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='/javascripts/application.js'></script>
  </body>

</html>
