<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://www.google.com/jsapi"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8IJyqe7PKy6yLBGn70oU6aPTpHKuk71c&libraries=geometry"></script>
  </head>

  <body>
    <nav class="m0 col-12 bg-white fixed z2">
        <div class="row no-gutters">
          <div class="col-sm-6 ml1 left">
            <h1 class="logo">PathFinder</h1>
          </div>
          <div class="col-sm-6 mr1 text-right">
            <% if (user) { %>
              <h2>Welcome, <%= user.first_name %></h2>
              <a href="/myhikes"><h2 style="display:inline;">Saved Hikes</h2></a> - <a href="/logout"><h2 style="display:inline;">Logout</h2></a>
            <% } else { %>
              <h2 id="signup">Sign Up</h2>
              <div class="signup">
                <form class="" action="/signup" method="post">
                  <input type="text" name="firstName" placeholder="First Name">
                  <input type="text" name="lastName" placeholder="Last Name"><br><br>
                  <input type="email" name="email" placeholder="Email">
                  <input type="password" name="password" placeholder="Password"><br>
                  <button type="submit" name="create" class="btn border user-btn">Submit</button>
                </form>
              </div>

              <h2 id="login">Log In</h2>
              <div class="login">
                <form class="" action="/login" method="post">
                  <input type="email" name="email" placeholder="Email">
                  <input type="password" name="password" placeholder="Password"><br>
                  <button type="submit" name="create" class="btn border user-btn">Log In</button>
                </form>
              </div>
            <% } %>
          </div>
      </div>
    </nav>

    <div class="container">
      <div class="col-md-12" align="center">
        <form class="search-form" action="/" method="get">
          <input type="integer" name="min_length" placeholder="min length(mi)">
          <input type="integer" name="max_length" placeholder="max length(mi)">
          <input type="integer" name="max_elevation_gain" placeholder="max elevation gain(ft)">
          <button type="submit" name="search" class="btn">Search</button>
        </form>
        <p>When searching, all fields required!</p>
      </div>
    </div>

    <div class="container">
      <div class="row no-gutters">
        <% trails.forEach(trail => { %>
          <div class="col-md-5 boxy text-center border rounded bg-soft-white mx-auto">
            <a href="/trails/<%= trail.id %>" class="text-decoration-none"><h4><%= trail.name %></h4></a>
            <h2><%= trail.length %> miles, <%= trail.max_elevation - trail.min_elevation %> feet gained</h2>
            <p>Min Elevation: <%= trail.min_elevation %> - Max Elevation: <%= trail.max_elevation %> (ft)</p>
            <p>Average Pitch: <%= (Math.atan((trail.max_elevation - trail.min_elevation)/(trail.length*5280)) * 180 / Math.PI).toFixed(2)%>%</p>
          </div>
        <% }) %>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='/javascripts/application.js'></script>
  </body>

</html>
