<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Dosis:400,800" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <nav class="m0 col-12 bg-white fixed z2">
      <div class="ml1 left">
        <h1 class="m0">PathFinder</h1>
      </div>
    </nav>
    <div class="container">
      <div class="row no-gutters">
        <% trails.forEach(trail => { %>
          <div class="col-md-5 boxy text-center bg-soft-white mx-auto">
            <a href="/trails/<%= trail.id %>" class=""><h4><%= trail.name %></h4></a>
            <div class="container">
              <div class="row no-gutters">
                <div class="col-md-6 text-left">
                  <p>Min Elevation: <%= trail.minElevation %></p>
                  <p>Max Elevation: <%= trail.maxElevation %></p>
                </div>
                <div class="col-md-6 text-right">
                  <p>Length: <%= trail.length %></p>
                  <p>Total Elevation Gain: <%= trail.maxElevation - trail.minElevation %></p>
                </div>
              </div>
            </div>
            <p>Average Pitch: <%= (Math.atan((trail.maxElevation - trail.minElevation)/(trail.length*5280)) * 180 / Math.PI).toFixed(2)%></p>
          </div>
        <% }) %>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8IJyqe7PKy6yLBGn70oU6aPTpHKuk71c"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src='/javascripts/application.js'></script>
  </body>

</html>
