<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body onload = "initMap(<%= JSON.stringify(nodes) %>)">
    <nav class="m0 col-12 bg-white fixed z2">
      <div class="ml1 left">
        <a href="/">
        <h1 class="m0">PathFinder</h1></a>
      </div>
    </nav>

    <div class="container">

      <h1 class="text-center"><%= trail.name %></h1>

      <div id="map" style="height:250px; margin-bottom: 1em;">
      </div>

      <div class="container no-gutters">
        <div class="row no-gutters">

          <div class="col-md-5 boxy bg-soft-white">
            <p>Min Elevation: <%= trail.min_elevation %></p>
            <p>Max Elevation: <%= trail.max_elevation %></p>
            <p>Length: <%= trail.length %></p>
            <p>Total Elevation Gain: <%= trail.max_elevation - trail.min_elevation %></p>
            <p>Average Pitch: <%= (Math.atan((trail.max_elevation - trail.min_elevation)/(trail.length*5280)) * 180 / Math.PI).toFixed(2)%></p>
          </div>
          <div id="elevation_chart" class="col-md-6 boxy">
          </div>
        </div>
      </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8IJyqe7PKy6yLBGn70oU6aPTpHKuk71c&libraries=geometry"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src='/javascripts/map.js'></script>
  </body>

</html>
